.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.corpo__ilustracao {
  background: url(../images/lago-01.svg) center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.box {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    font-size: 3rem;
    padding: 3rem;
    box-shadow: 0 0 1rem .5rem #1cd4a63f;
    background: #ffffff;
    border-radius: .25rem;
    
}

.box__say {
  text-align: center;
  background: none;
  border: 0;
  font-size: 2.5rem;
}